body{
    
}
h1{
    color:red;
}
.ct{
    text-align: center;
}
.rdiv{
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: center;
}
.rdiv img{
    border: 1px solid black;
    height: 80vh;
}